# Buildroot config fragment for AST2600 + HDC1080 demo
# 用法：make BR2_DEFCONFIG=path/to/this/file defconfig

BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_VFPV4D16=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_5_15=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="aspeed_g5"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="aspeed/aspeed-ast2600-evb"
BR2_PACKAGE_BUSYBOX=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
